<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Money</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
<div class="container my-5">
    <div class="container">
        Your Gold: <span id="ninja_gold">{{ request.session.ninja_gold }}</span>
    </div>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col ninja-place">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form method="POST" action="{% url 'process_money' %}">
                    {% csrf_token %}
                    <input type="hidden" name="place" value="farm">
                    <input class="btn btn-success" type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="col ninja-place">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form method="POST" action="{% url 'process_money' %}">
                    {% csrf_token %}
                    <input type="hidden" name="place" value="cave">
                    <input class="btn btn-success" type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="col ninja-place">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form method="POST" action="{% url 'process_money' %}">
                    {% csrf_token %}
                    <input type="hidden" name="place" value="house">
                    <input class="btn btn-success" type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="col ninja-place">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds)</p>
                <form method="POST" action="{% url 'process_money' %}">
                    {% csrf_token %}
                    <input type="hidden" name="place" value="casino">
                    <input class="btn btn-success" type="submit" value="Find Gold!">
                </form>
            </div>
        </div>
    </div>
    <div class="container border border-dark border-3 scroll mt-5 text-justify">
        {% for s in request.session.activities %}
            {% if s|slice:"0:6" == 'Earned' %}
                <p class="text-success">{{ s }}</p>
            {% else %}
                <p class="text-danger">{{ s }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>