<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet2.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <p>Random Word (attempt #{{ request.session.attempts }})</p>
        <div id="word">
            <h1>{{ word }}</h1>
        </div>
        <button onClick="window.location.reload();">Generate</button>
    </div>
</body>
</html>