{% extends "sql_orm/base.html"%}


{% block title %}Wizard Form{% endblock %}

{% block content %}
    <!--begin::Title-->
    <div class="text-center">
        {% if wizard_form.name is null %}
            <h1>Wizard Creator</h1>
        {% else %}
            <h1>Wizard Editor</h1>
        {% endif %}
    </div>
    <!--end::Title-->
    <!--begin::Form-->
    <div>
        <form action="{% url action %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-4 offset-1">
                    {{ wizard_form.name.label }}
                </div>
                <div class="col-7">
                    {{ wizard_form.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-1">
                    {{ wizard_form.house.label }}
                </div>
                <div class="col-7">
                    {{ wizard_form.house }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-1">
                    {{ wizard_form.pet.label }}
                </div>
                <div class="col-7">
                    {{ wizard_form.pet }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-1">
                    {{ wizard_form.year.label }}
                </div>
                <div class="col-7">
                    {{ wizard_form.year }}
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
    <!--end::Form-->
{% endblock %}