{% extends 'books_authors_app/base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-5">
                <h2>Add a Book</h2>
                <form method="post" action="{% url 'add_book' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="offset-2 col-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                            <td>
                                <form method="post" action="{% url 'show_book' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ book.id }}">
                                    <button type="submit" class="btn btn-success">View</button>
                                </form>
                            </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}